.footer {
  background-color: var(--color-bg-secondary);
  padding-top: 4rem;
  margin-top: auto;
  border-top: 0.0625rem solid var(--color-border);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
  gap: 2rem;
  margin-bottom: 3rem;
  color: var(--color-text-secondary);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  color: var(--color-text-secondary);
  transition: color 0.2s;

  &:hover {
    color: var(--color-text-primary);
  }
}

.title {
  color: var(--color-text-primary);
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}



.socials {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.socialIcon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.0625rem solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-secondary);
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border-color: var(--color-accent);
    color: var(--color-accent);
  }
}

.subscribe {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.input {
  background: var(--color-bg-primary);
  border: 0.0625rem solid var(--color-border);
  padding: 0.75rem;
  border-radius: 0.5rem;
  color: var(--color-text-primary);
  flex: 1;

  &::placeholder {
    color: var(--color-text-secondary);
  }
}



.bottom {
  border-top: 0.0625rem solid var(--color-border);
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  color: var(--color-text-secondary);
  font-size: 0.875rem;
}

.legal {
  display: flex;
  gap: 1.5rem;
}


.logoWrapper {
  margin-bottom: 1rem;
}