.header {
  background-color: var(--color-bg-secondary);
  padding: 1rem 0;
  width: 100%;
  border-bottom: 0.0625rem solid var(--color-border);
}

.content {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text-primary);
  gap: 0.5rem;
}

.search {
  background-color: var(--color-bg-primary);
  border: 0.0625rem solid var(--color-border);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  color: var(--color-text-primary);
  width: 100%;
  max-width: 25rem;
  font-family: inherit;

  &::placeholder {
    color: var(--color-text-secondary);
  }
}

.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.link {
  color: var(--color-text-secondary);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;

  &:hover {
    color: var(--color-text-primary);
  }
}