.header {
  background-color: var(--color-bg-secondary);
  padding: 1rem 0;
  width: 100%;
  border-bottom: 0.0625rem solid var(--color-border);
}

.content {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.search {
  background-color: var(--color-bg-primary);
  border: 0.0625rem solid var(--color-border);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  color: var(--color-text-primary);
  width: 100%;
  max-width: 25rem;
  font-family: inherit;

  &::placeholder {
    color: var(--color-text-secondary);
  }
}

.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.link {
  color: var(--color-text-secondary);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    color: var(--color-text-primary);
  }

  &:global(.active) {
    color: var(--color-text-primary);

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 0.125rem;
      background-color: var(--color-accent);
      position: absolute;
      bottom: -0.375rem;
      left: 0;
    }
  }
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
  display: block;
}


@media (max-width: 48rem) {
  .header {
    padding: 0.75rem 0;
  }

  .search {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;

  }

  .nav {
    gap: 1.25rem;
  }

  .link {
    font-size: 0;

    .icon {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:global(.active)::after {
      bottom: -0.85rem;
    }
  }
}

@media (max-width: 30rem) {
  .search {
    display: none;
  }
}