.page {
  display: flex;
  flex-direction: column;
}

.welcomeSection {
  padding: 3.75rem 0;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-size: 2.5rem;
  color: white;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.description {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #94a3b8;
}

.link {
  display: inline-block;
  margin-top: 1.5rem;
  color: #8b5cf6;
  font-weight: 700;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}