.header {
  padding: 1rem;
  border-bottom: 0.0625rem solid #ccc;
  display: flex;
  gap: 1rem;
}

.nav {
  display: flex;
  gap: 1rem;
}

.link {
  font-weight: normal;
  text-decoration: none;
  color: black;

  &.active {
    font-weight: bold;
  }
}