.page {
  padding-bottom: 5rem;
  background-color: var(--color-bg-primary);
  min-height: 100vh;
  padding-top: 2rem;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 20rem;
  gap: 2.5rem;
  align-items: stretch;

  @media (max-width: 64rem) {
    grid-template-columns: 1fr;
  }
}

.main {
  width: 100%;
}

.side {
  width: 100%;
  height: 100%;
}

.notFound {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.notFoundTitle {
  color: var(--color-text-primary);
  font-size: 2rem;
}